@import "./_vars";

.resume-section {
  display: flex;
  flex-direction: column;

  margin: 20px;

  color: @grey;

  > * {
    border-left: solid 1px @grey;
    border-right: solid 1px @grey;

    background-color: @lightgrey;

    &:first-child {
      border-top: solid 1px @grey;

      border-top-left-radius: @border-radius;
      border-top-right-radius: @border-radius;

      background-color: @grey;

      color: @lightgrey;
      text-transform: uppercase;
    }

    &:last-child {
      border-bottom: solid 1px @grey;

      border-bottom-left-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
    }

    &:not(:first-child) {
      h3 {
        text-transform: uppercase;
      }
    }
  }
}
